.loading-container {
  background-color: #1a1a1a;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

.loading-title-container {
  display: flex;
  overflow: hidden;
}

.title-char {
  color: #fff;
  font-family: "Nordic Regular";
  font-size: 50px;
  font-weight: normal !important;
  width: 100%;
  display: block;
  opacity: 0;
}

.loading-title-container .title-char:last-child {
  margin-left: -13px
}

.loading-subtitle-container {
  overflow: hidden;
}

.loading-subtitle {
  display: block;
  color: #fff;
  font-family: "Coves";
  font-size: 25px;
  opacity: 0;
}

.loading-bar-container {
  height: 1px;
  width: 300px;
  position: absolute;
  bottom: 60px;
  text-align: center;
}

.loading-indicator {
  color: #fff;
  font-family: "Oneday";
  font-size: 11px;
}

.loading-bar {
  height: 1px;
  width: 0%;
  background: #9b9b9b;
  margin-top: 5px
}