@import url('https://fonts.googleapis.com/css?family=Poiret+One|Great+Vibes|Poppins|Patua+One');
html,
body {
    height: 100%;
	user-select: none;
	-webkit-tap-highlight-color:  transparent;
}

body {
	background: #212121;
}

a {
    text-decoration: none;
}

/* Home Container */
.home-container {
	width: 100%;
    	height: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #444;
}

.home-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.home-content h1 {
	font-family: "Great Vibes", sans-serif;
	color: #f4f4f4;
	font-size: 70px;
	text-align: center;
	animation: fadeIn 4s 1;
}

.home-content h2 {
	text-align: center;
	font-family: "Poiret One", sans-serif;
	font-size: 20px;
	color: #eee;
	letter-spacing: 10px;
	animation: fadeIn 6s 1;
	white-space: nowrap;
}

.meet-button {
	width: 200px;
	opacity: 0;
	animation: buttonAppear 1.3s 1 1.5s forwards;
	transform-origin: center right;
	height: 46px;
	background: transparent;
	font-family: "Poiret One";
	font-weight: bold;
	font-size: 17px;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 6px;
	cursor: pointer;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	transition: .5s color;
	outline: none;
}

.meet-button:hover {
	color: #4876bc;
}

.meet-button:after {
	content: '';
	height: 100%;
	width: 0;
	background: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) skewX(-25deg);
	z-index: -1;
	transition: .5s width;
}

.meet-button:hover:after {
	width: 110%;
}

/* Content Sections */

main {
	min-height: 50%;
    padding: 20px;
	background: #fff;
	overflow: hidden;
}

.section-title {
	font-family: "Patua One", sans-serif;
	color: #2f5196;
	margin: 20px 50px;
	line-height: 40px;
	border-bottom: 1px solid #e0dfdf;
}

.section-title::after {
	content: '';
	background: #2f5196;
	display: block;
	height: 1px;
	width: 50px;
	margin-bottom: -1px;
}

.section-title > .fa {
    font-weight: bold;
}

.content-container {
	min-height: 50%;
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
}

.content-container p {
    max-width: 1200px;
	color: rgba(0, 0, 0, 0.5);
	text-indent: 10px;
	margin: 10px 0;
	padding: 0 40px;
	font-size: 15px;
	font-family: "Poppins", sans-serif
}

.content-container p a {
    background: #eee;
    text-decoration: none;
    color: #a7a7a7;
    height: 20px;
    padding: 0 5px;
    border-radius: 5px;
}

.skill-container {
	margin: 10px;
	width: 350px;
}

.skill-bar {
	width: 100%;
	height: 2px;
	background: #EAEEF1;
	font-family: "Patua One", sans-serif;
	border-radius: 20px;
	overflow: hidden;
	margin: 20px 10px;
}

.skill-bar-progress {
	background: #4f728f;
	height: 100%;
	width: 0;
	border-radius: 30px;
	transition: 1s ease-in-out;
}

.skill-title {
	font-family: "Poppins", sans-serif;
	color: #4f728f;
	background: #f6f6f6;
	padding: 5px 10px;
	border-radius: 30px;
}

.content-container.contact {
    flex-direction: column;
}

.contact-info {
    text-align: center;
    margin: 10px;
    color: #bebebe;
    font-size: 14px;
} 

.send-message {
	margin: 10px;
	width: 200px;
	height: 80px;
	background: #535353;
	border: none;
	color: white;
	font: 15px "Patua One", sans-serif;
	cursor: pointer;
	border-radius: 5px;
	transition: .3s transform, .3s background-color;
    outline: none;
}

.send-message:hover {
    transform: translateY(-10px);
	background: #2f5196;    
}

.social > a {
	margin: 0 10px;
	color: #bbb8b8;
	transition: .1s color;
}

.social > a:hover {
	color: #525252;
}

.page-footer {
	background: #f6f6f6;
	padding: 5px 0;
	text-align: center;
	color: #808080;
	font-family: 'Patua One', sans-serif;
	font-size: 13px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate(-10px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes buttonAppear {
	0% {
		transform: translateX(15px) rotate(20deg);
	}

	15% {
		transform: translateX(-13px) rotate(-15deg);
	}

	30% {
		opacity: 1;
		transform: translateX(5px) rotate(6deg);
	}

	45% {
		transform: translateX(-3px) rotate(-3deg);
	}

	60% {
		transform: translateX(2px) rotate(1.5deg);
	}

	85% {
		transform: translateX(-.8px) rotate(-.5deg);
	}

	100% {
		transform: translateX(0px) rotate(0);
		opacity: 1;
	}
}
